@import "styles/utils/variables";

.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  rotate: 270deg;

  svg path{
    stroke: $c-black;
  }
}

.button {
  transition: 0.2s;

  &:hover {
    background-color: #f2f2f2;
    text-shadow: 0.04rem 0 0 $c-black;

    .icon {
      svg path{
        stroke-width: 1.2;
      }
    }
  }
}
